.row.header {
    justify-content: space-around;
}
.banner {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    background-color: #063A6C;
}
.banner a {
    color: white;
    padding-right: 15px;
}
.banner a:last-child {
    padding-right: 5px;
}
.links {
    align-self: stretch;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
.imageCol {
    padding: 10px;
    background-color: white;
    width: 175px;
}
.imageCol img{
    width: 100%;
    height: auto;
}
.largeLink .link {
    text-align: center;
    align-self: center;
    padding-top: 15px;
}
.largeLink .link h3.selected {
    border-bottom: 5px solid #063A6C;
}
.largeLink .link a {
    font-size: 18px;
    font-weight: bold;
    color: #063A6C;
}
.dropdown {
    display: none;
}
.content {
    margin-top: 25px;
}

@media screen and (max-width: 767px) {
    .row.header {
        justify-content: center;
    }
    .imageCol {
        padding: 10px;
        background-color: white;
        width: 300px;
    }
    .banner, .links {
        display: none;
    }
    .dropdown {
        display: block;
        width: 100%;
    }
    .dropdown .linkSelector, .dropdown .dropdown-menu {
        width: 100%;
    }
    .dropdown .linkSelector {
        text-align: left;
        background-color: #063A6C;
        font-size: larger;
    }
    .dropdown .linkSelector:active {
        background-color: #063A6C;
    }
    .dropdown .dropdown-menu {
        font-weight: bold;
        font-size: 18px;
    }

    /*Override bootstrap stuff*/
    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
		color: white;
		background-color: #063A6C;
		text-shadow: 1px 1px black;
		border: none;
    }
    .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
		box-shadow: none;
    }
    .btn-secondary.focus, .btn-secondary:focus, .btn-secondary.hover, .btn-secondary:hover {
		color: white;
		background-color: #063A6C;
		text-shadow: 1px 1px black;
		border: none;
		box-shadow: none;
	}
    
	.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus {
		color: white;
		background-color: #063A6C;
        text-shadow: 1px 1px black;
	}

}