<div class="col-12">
	<div class="row justify-content-center">
		<div class="footer-section">
			<h2>
				Navigation
			</h2>
			<ul class="navigation">
				<li>
					<a href="./introduction">Introduction</a>
				</li>
				<li>
					<a href="./steam-trap-surveys">Steam Trap Surveys</a>
				</li>
				<li>
					<a href="./system-troubleshooting">System Troubleshooting</a>
				</li>
				<li>
					<a href="./steam-audit">Steam Audit</a>
                </li>
                <li>
					<a href="./on-site-training">On Site Training</a>
                </li>
                <li>
					<a href="./design-and-engineering">Design and Engineering</a>
                </li>
			</ul>
		</div>

		<div class="footer-section">
			<h2>
				Contact Us
			</h2>
			<ul class="contactContent">
				<li>
					<a href="mailto:steamauditandsurvey@yahoo.com"><i class="fas fa-envelope-square"></i>steamauditandsurvey@yahoo.com</a>
				</li>
				<li>
					<a href="tel:+17808184456"><i class="fas fa-phone"></i>+1 (780) 818-4456</a>
				</li>
			</ul>	
		</div>
	</div>	
</div>