<div class="banner col-12">
    <a href="#"><i class="fas fa-envelope-square"></i> insertContactEmailHere </a>
    <a href="#"><i class="fas fa-phone"></i> Insert international Phone number here</a>
</div>
<div class="imageCol">
	<img src="./images/SAS Logo.jpeg" alt="sas-canada logo">
</div>
<nav class="links col-xl-10 col-9">
	<div class="row largeLink">
		<div class="link col-xl-2 col-md-4 col-12">
            <h3>
                <a class="introduction" href="./introduction">Introduction</a>
            </h3>
		</div>
		<div class="link col-xl-2 col-md-4 col-12">
            <h3>
                <a class="steam-trap-surveys" href="./steam-trap-surveys">Steam Trap Surveys</a>
            </h3>
		</div>
		<div class="link col-xl-2 col-md-4 col-12">
            <h3>
                <a class="system-tb" href="./system-troubleshooting">System Troubleshooting</a>
            </h3>
		</div>
		<div class="link col-xl-2 col-md-4 col-12">
            <h3>
                <a class="steam-audit" href="./steam-audit">Steam Audit</a>
            </h3>
        </div>
        <div class="link col-xl-2 col-md-4 col-12">
            <h3>
                <a class="on-site-training" href="./on-site-training">On Site Training</a>
            </h3>
        </div>
        <div class="link col-xl-2 col-md-4 col-2">
            <h3>
                <a class="design-and-engineering" href="./design-and-engineering">Design and Engineering</a>
            </h3>
		</div>
	</div>	
</nav>
<nav class="dropdown">
    <button class="btn btn-secondary dropdown-toggle linkSelector" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Introduction
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="./introduction">Introduction</a>
        <a class="dropdown-item" href="./steam-trap-surveys">Steam Trap Surveys</a>
        <a class="dropdown-item" href="./system-troubleshooting">System Troubleshooting</a>
        <a class="dropdown-item" href="./steam-audit">Steam Audit</a>
        <a class="dropdown-item" href="./on-site-training">On Site Training</a>
        <a class="dropdown-item" href="./design-and-engineering">Design and Engineering</a>
    </div>
</nav>